In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [2]:
gc = pd.read_csv('Germancredit.csv')

In [3]:
gc.head()

,OBS#,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO/TV,EDUCATION,RETRAINING,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,RESPONSE
0,1,0,6,4,0,0,0,1,0,0,...,67,0,0,1,2,2,1,1,0,1
1,2,1,48,2,0,0,0,1,0,0,...,22,0,0,1,1,2,1,0,0,0
2,3,3,12,4,0,0,0,0,1,0,...,49,0,0,1,1,1,2,0,0,1
3,4,0,42,2,0,0,1,0,0,0,...,45,0,0,0,1,2,2,0,0,1
4,5,0,24,3,1,0,0,0,0,0,...,53,0,0,0,2,2,2,0,0,0

In [4]:
gc.shape

(1000, 32)

In [6]:
gc.columns

Index(['OBS#', 'CHK_ACCT', 'DURATION', 'HISTORY', 'NEW_CAR', 'USED_CAR',
       'FURNITURE', 'RADIO/TV', 'EDUCATION', 'RETRAINING', 'AMOUNT',
       'SAV_ACCT', 'EMPLOYMENT', 'INSTALL_RATE', 'MALE_DIV', 'MALE_SINGLE',
       'MALE_MAR_or_WID', 'CO-APPLICANT', 'GUARANTOR', 'PRESENT_RESIDENT',
       'REAL_ESTATE', 'PROP_UNKN_NONE', 'AGE', 'OTHER_INSTALL', 'RENT',
       'OWN_RES', 'NUM_CREDITS', 'JOB', 'NUM_DEPENDENTS', 'TELEPHONE',
       'FOREIGN', 'RESPONSE'],
      dtype='object')

In [5]:
gc.iloc[0]

OBS#                   1
CHK_ACCT               0
DURATION               6
HISTORY                4
NEW_CAR                0
USED_CAR               0
FURNITURE              0
RADIO/TV               1
EDUCATION              0
RETRAINING             0
AMOUNT              1169
SAV_ACCT               4
EMPLOYMENT             4
INSTALL_RATE           4
MALE_DIV               0
MALE_SINGLE            1
MALE_MAR_or_WID        0
CO-APPLICANT           0
GUARANTOR              0
PRESENT_RESIDENT       4
REAL_ESTATE            1
PROP_UNKN_NONE         0
AGE                   67
OTHER_INSTALL          0
RENT                   0
OWN_RES                1
NUM_CREDITS            2
JOB                    2
NUM_DEPENDENTS         1
TELEPHONE              1
FOREIGN                0
RESPONSE               1
Name: 0, dtype: int64