#Response Rate
1. Response rate:
https://surveyanyplace.com/average-survey-response-rate/

The response rate would be based on if Florence =1, i.e if the art history of florence was bought. This would be the outcome variable.

To get all 60 combinations of RFM categories, read 
https://www.google.com/amp/s/www.geeksforgeeks.org/python-all-possible-permutations-of-n-lists/amp/

Also, check for missing values across all variables. This could be used to determine the response rate as well. 
See: https://www.coursera.org/lecture/data-collection-methods/1-5-1-response-rates-wY2f3

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [3]:
cbc = pd.read_csv('CharlesBookClub.csv')

In [4]:
cbc.head()

,Seq#,ID#,Gender,M,R,F,FirstPurch,ChildBks,YouthBks,CookBks,...,ItalCook,ItalAtlas,ItalArt,Florence,Related Purchase,Mcode,Rcode,Fcode,Yes_Florence,No_Florence
0,1,25,1,297,14,2,22,0,1,1,...,0,0,0,0,0,5,4,2,0,1
1,2,29,0,128,8,2,10,0,0,0,...,0,0,0,0,0,4,3,2,0,1
2,3,46,1,138,22,7,56,2,1,2,...,1,0,0,0,2,4,4,3,0,1
3,4,47,1,228,2,1,2,0,0,0,...,0,0,0,0,0,5,1,1,0,1
4,5,51,1,257,10,1,10,0,0,0,...,0,0,0,0,0,5,3,1,0,1

In [5]:
cbc.columns

Index(['Seq#', 'ID#', 'Gender', 'M', 'R', 'F', 'FirstPurch', 'ChildBks',
       'YouthBks', 'CookBks', 'DoItYBks', 'RefBks', 'ArtBks', 'GeogBks',
       'ItalCook', 'ItalAtlas', 'ItalArt', 'Florence', 'Related Purchase',
       'Mcode', 'Rcode', 'Fcode', 'Yes_Florence', 'No_Florence'],
      dtype='object')

In [6]:
cbc.iloc[0]

Seq#                  1
ID#                  25
Gender                1
M                   297
R                    14
F                     2
FirstPurch           22
ChildBks              0
YouthBks              1
CookBks               1
DoItYBks              0
RefBks                0
ArtBks                0
GeogBks               0
ItalCook              0
ItalAtlas             0
ItalArt               0
Florence              0
Related Purchase      0
Mcode                 5
Rcode                 4
Fcode                 2
Yes_Florence          0
No_Florence           1
Name: 0, dtype: int64

In [7]:
len(cbc)

4000