In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [3]:
bs = pd.read_csv('BathSoapHousehold.csv')

In [4]:
bs.head()

,Member id,SEC,FEH,MT,SEX,AGE,EDU,HS,CHILD,CS,...,PropCat 6,PropCat 7,PropCat 8,PropCat 9,PropCat 10,PropCat 11,PropCat 12,PropCat 13,PropCat 14,PropCat 15
0,1010010,4,3,10,1,4,4,2,4,1,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.028037,0.0,0.130841,0.339564
1,1010020,3,2,10,2,2,4,4,2,1,...,0.347048,0.026834,0.016100,0.014311,0.0,0.059034,0.000000,0.0,0.080501,0.000000
2,1014020,2,3,10,2,4,5,6,4,1,...,0.121212,0.033550,0.010823,0.008658,0.0,0.000000,0.016234,0.0,0.561688,0.003247
3,1014030,4,0,0,0,4,0,0,5,0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.600000,0.000000
4,1014190,4,1,10,2,3,4,4,3,1,...,0.000000,0.000000,0.048193,0.000000,0.0,0.000000,0.000000,0.0,0.144578,0.000000

In [5]:
bs.shape

(600, 46)

In [6]:
bs.iloc[0]

Member id                1.010010e+06
SEC                      4.000000e+00
FEH                      3.000000e+00
MT                       1.000000e+01
SEX                      1.000000e+00
AGE                      4.000000e+00
EDU                      4.000000e+00
HS                       2.000000e+00
CHILD                    4.000000e+00
CS                       1.000000e+00
Affluence Index          2.000000e+00
No. of Brands            3.000000e+00
Brand Runs               1.700000e+01
Total Volume             8.025000e+03
No. of  Trans            2.400000e+01
Value                    8.180000e+02
Trans / Brand Runs       1.410000e+00
Vol/Tran                 3.343800e+02
Avg. Price               1.019000e+01
Pur Vol No Promo - %     1.000000e+00
Pur Vol Promo 6 %        0.000000e+00
Pur Vol Other Promo %    0.000000e+00
Br. Cd. 57, 144          3.769470e-01
Br. Cd. 55               1.308411e-01
Br. Cd. 272              0.000000e+00
Br. Cd. 286              0.000000e+00
Br. Cd. 24               0.000000e+00
Br. Cd. 481              0.000000e+00
Br. Cd. 352              0.000000e+00
Br. Cd. 5                0.000000e+00
Others 999               4.922118e-01
Pr Cat 1                 2.336449e-01
Pr Cat 2                 5.607477e-01
Pr Cat 3                 1.308411e-01
Pr Cat 4                 7.476636e-02
PropCat 5                5.015576e-01
PropCat 6                0.000000e+00
PropCat 7                0.000000e+00
PropCat 8                0.000000e+00
PropCat 9                0.000000e+00
PropCat 10               0.000000e+00
PropCat 11               0.000000e+00
PropCat 12               2.803738e-02
PropCat 13               0.000000e+00
PropCat 14               1.308411e-01
PropCat 15               3.395639e-01
Name: 0, dtype: float64

In [7]:
bs.isnull().sum()

Member id                0
SEC                      0
FEH                      0
MT                       0
SEX                      0
AGE                      0
EDU                      0
HS                       0
CHILD                    0
CS                       0
Affluence Index          0
No. of Brands            0
Brand Runs               0
Total Volume             0
No. of  Trans            0
Value                    0
Trans / Brand Runs       0
Vol/Tran                 0
Avg. Price               0
Pur Vol No Promo - %     0
Pur Vol Promo 6 %        0
Pur Vol Other Promo %    0
Br. Cd. 57, 144          0
Br. Cd. 55               0
Br. Cd. 272              0
Br. Cd. 286              0
Br. Cd. 24               0
Br. Cd. 481              0
Br. Cd. 352              0
Br. Cd. 5                0
Others 999               0
Pr Cat 1                 0
Pr Cat 2                 0
Pr Cat 3                 0
Pr Cat 4                 0
PropCat 5                0
PropCat 6                0
PropCat 7                0
PropCat 8                0
PropCat 9                0
PropCat 10               0
PropCat 11               0
PropCat 12               0
PropCat 13               0
PropCat 14               0
PropCat 15               0
dtype: int64