In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [3]:
vp = pd.read_csv('Voter-Persuasion.csv')

In [4]:
vp.head()

,VOTER_ID,SET_NO,OPP_SEX,AGE,HH_ND,HH_NR,HH_NI,MED_AGE,NH_WHITE,NH_AA,...,CAND2S,MESSAGE_A,MESSAGE_A_REV,I3,CAND1_UND,CAND2_UND,MOVED_AD,MOVED_A,opposite,Partition
0,193801,2,0,28,1,1,1,37,61,34,...,S,1,0,N,N,N,N,0,1,V
1,627701,1,0,53,2,0,0,46,87,8,...,S,1,0,N,N,N,N,0,1,T
2,306924,2,0,68,2,1,0,41,23,64,...,L,1,0,N,N,N,Y,1,0,T
3,547609,1,0,66,0,2,0,35,53,29,...,S,1,0,N,N,N,N,0,1,T
4,141105,3,0,23,0,3,1,42,74,18,...,S,1,0,N,N,N,N,0,1,T

In [5]:
vp.shape

(10000, 79)

In [6]:
vp.iloc[0]

VOTER_ID     193801
SET_NO            2
OPP_SEX           0
AGE              28
HH_ND             1
              ...
CAND2_UND         N
MOVED_AD          N
MOVED_A           0
opposite          1
Partition         V
Name: 0, Length: 79, dtype: object