In [3]:
%matplotlib inline
import pandas as pd
import numpy as np

In [4]:
bi = pd.read_csv('bicup2006.csv')

In [5]:
bi.head()

       DATE  TIME  DEMAND
0  1-Mar-05  6:30     1.0
1  1-Mar-05  6:45     2.0
2  1-Mar-05  7:00     4.0
3  1-Mar-05  7:15     0.0
4  1-Mar-05  7:30    10.0

In [7]:
bi.shape

(1512, 3)

In [8]:
bi.isnull().sum()

DATE        0
TIME        0
DEMAND    189
dtype: int64

In [9]:
bi.tail()

           DATE   TIME  DEMAND
1507  24-Mar-05  21:00     NaN
1508  24-Mar-05  21:15     NaN
1509  24-Mar-05  21:30     NaN
1510  24-Mar-05  21:45     NaN
1511  24-Mar-05  22:00     NaN