In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [3]:
fr = pd.read_csv('Fundraising.csv')

In [4]:
fr.head()

,Row Id,Row Id.,zipconvert_2,zipconvert_3,zipconvert_4,zipconvert_5,homeowner dummy,NUMCHLD,INCOME,gender dummy,...,IC15,NUMPROM,RAMNTALL,MAXRAMNT,LASTGIFT,totalmonths,TIMELAG,AVGGIFT,TARGET_B,TARGET_D
0,1,17,0,1,0,0,1,1,5,1,...,1,74,102.0,6.0,5.0,29,3,4.857143,1,5.0
1,2,25,1,0,0,0,1,1,1,0,...,4,46,94.0,12.0,12.0,34,6,9.400000,1,10.0
2,3,29,0,0,0,1,0,2,5,1,...,13,32,30.0,10.0,5.0,29,7,4.285714,1,5.0
3,4,38,0,0,0,1,1,1,3,0,...,4,94,177.0,10.0,8.0,30,3,7.080000,0,0.0
4,5,40,0,1,0,0,1,1,4,0,...,7,20,23.0,11.0,11.0,30,6,7.666667,0,0.0

In [5]:
fr.shape

(3120, 24)

In [6]:
fr.iloc[0]

Row Id                1.000000
Row Id.              17.000000
zipconvert_2          0.000000
zipconvert_3          1.000000
zipconvert_4          0.000000
zipconvert_5          0.000000
homeowner dummy       1.000000
NUMCHLD               1.000000
INCOME                5.000000
gender dummy          1.000000
WEALTH                9.000000
HV                 1399.000000
Icmed               637.000000
Icavg               703.000000
IC15                  1.000000
NUMPROM              74.000000
RAMNTALL            102.000000
MAXRAMNT              6.000000
LASTGIFT              5.000000
totalmonths          29.000000
TIMELAG               3.000000
AVGGIFT               4.857143
TARGET_B              1.000000
TARGET_D              5.000000
Name: 0, dtype: float64